* {
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    background: #9a9a9a;
}
.wrapperMenu {
    margin-top:90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    background: #c5c5c5;
    margin: 10px;
    height: 70px;
    width: 195vh;
    font-weight: bold;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapperMonthAndHour {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.month {
    background: #dedede;
    margin: 10px;
    height: 70px;
    width: 195vh;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapperModule {
    display: flex;
    justify-content: space-around;
    background: #8c8c8c;
    height: 555px;
}
.ulModules{
    width: 500px;
}
.liModules{
    background: #dedede;
    font-size: 22px;
    padding-left: 25px;
    margin: 7px;
    height: 35px;
    display: flex;
    align-items: center;
}